%section#hero-section-office.hero-section.text-center
  .container
    .highlight-box
      %h1 CastHire
      %h2
      %p
        CastHire is just like your regular Casting Call, but digitized. Invite all your potential hires into your digital "lobby."

        Address all of your candidates at once.
        When you're ready, bring them in one by one or in groups to a private interview room.
        While in the interview, your candidates in the lobby won't be able to see or hear you (though they will be able to talk to each other).
        After you're finished interviewing your candidate, click 'back to lobby.' CastHire is a more personal but more efficient means to screen your candidates.
        Best of all, CastHire will be a free to use platform during our beta. To sign up, go to http://casthire.com/users/new.
        Please note, CastHire requires Chrome or Firefox.
      %p
        = link_to 'Sign in', new_session_path, class: 'btn btn-primary btn-lg extra-spacing-vertical'

  .transparent-bar-dark.footer-highlight
    %ul#contact-list
      %li.contact-list-item
        %span.footer-icon.fa.fa-phone-square
        (818) 583-7080
      %li.contact-list-item
        %a{href: 'mailto:support@casthire.com'}
          %span.footer-icon.fa.fa-envelope
          support@casthire.com
